.k-tiptap-field .ProseMirror {
  padding: .5rem;
  outline: none;
  width: 100%;
  min-height: 4rem;
  line-height: 1.5rem;
}

.k-tiptap-field .k-toolbar {
  margin-bottom: 0;
}
.k-tiptap-field .k-button {
  transition-property: color, background;
}
.k-tiptap-field .k-button.is-active {
  background: #ecf1f7;
  color: #4271ae;
}

.k-tiptap-field .k-textarea-input-wrapper {
  width: 100%;
}

.k-tiptap-field ul {
  padding-left: 1.25rem;
}
.k-tiptap-field ul li {
  list-style: disc;
}

.k-tiptap-field ol {
  padding-left: 1.25rem;
}
.k-tiptap-field ol li {
  list-style: decimal;
}